body{
    padding: 0;
    margin: 0;
}

header #first-child-header{
    background-color: #171a21;
    padding-top: 20px;
}

nav ul li a{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover{
    color: #f8f8f8;
    border-bottom: 1px solid #FFFFFF;
}